{% extends 'layout.html.twig' %}
{% block title %} Item {% endblock %}

{% block body %}
    <section id="item">
        <div class="jumbotron text-center">
            <h1 class="display-4">Item {{ item.title }}</h1>
            <p class="lead">Id : {{ item.id }}</p>
            <a class="btn btn-primary btn-lg" href="/edit/{{ item.id }}">Edit Item</a>
            <a class="btn btn-primary btn-lg" href="/delete/{{ item.id }}">Delete Item</a>
        </div>
    </section>
{% endblock %}