{% extends 'layout.html.twig' %}

{% block content %}
<section>
    <h1>{% block title %}Item {{ item.title }}{% endblock %}</h1>
<ul>
    <li>Id : {{ item.id }}</li>
</ul>
   <a href='/'>Back to items list</a>
   <br/>
   <a href="/categorys">Go to the categories list</a>
</section>
{% endblock %}